# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/HolaMundo/nbproject/private/
/HolaMundo/build/
/13-02-JavaBasico/Clases/nbproject/private/
/13-02-JavaBasico/Periodico/nbproject/private/
/13-02-JavaBasico/Clases/build/
/17-02-EjJava/Ej1/nbproject/private/
/17-02-EjJava/Ej1/build/
/17-02-EjJava/Ej2/nbproject/private/
/17-02-EjJava/SocketTCP/nbproject/private/
/17-02-EjJava/SocketTCP/build/
/17-02-EjJava/SaludarVarios/nbproject/private/
/17-02-EjJava/SaludarVarios/build/
/17-02-EjJava/ServidorWeb/nbproject/private/
/17-02-EjJava/ServidorWeb/build/
/27-02-SoketsII/ChatTecnologia/nbproject/private/
/27-02-SoketsII/ChatTecnologia/build/
/27-02-SoketsII/SoquetsTCPMultihilo/build/
/27-02-SoketsII/SoquetsTCPMultihilo/nbproject/private/
/06-03-SoketsUDP/SocketsUDP/nbproject/private/
/06-03-SoketsUDP/SocketsUDP/build/
/New Folder/HolaMundoRMI/nbproject/private/
/New Folder/HolaMundoRMI/build/
/New Folder/Multiplicadox2/nbproject/private/
/New Folder/Multiplicadox2/build/
/13-03-Lab2SoquetRMI/Lab2/nbproject/private/
/24-03 Ej Comunicacion Grupos/StateSyncCluster/nbproject/private/
/24-03 Ej Comunicacion Grupos/StateSyncCluster/build/
